@tailwind base;
@tailwind components;
@tailwind utilities;
  


*{
    box-sizing: border-box;
    margin : 0;
    padding: 0;
}

body{
    color: white;
    max-width: 1600px;
    margin: 0 auto;
}

/* styles.css */
.text-gradient {
    @apply bg-gradient-to-r from-green-400 via-amber-500 to-yellow-500;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }

  /* styles.css */
.background-squares {
    background-image: 
      linear-gradient(to right, rgba(255, 255, 255, 0.1) 1px, transparent 1px),
      linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
    background-size: 100px 100px; /* Size of the squares */
  }

  .nav-mobile{
    z-index: 9999;
  }

  @media screen and (max-width: 768px) {
    .nav-mobile{
      position: absolute;
    
    }
  }

  

  